version: '3.5'

services:
  example-postgres:
    image: postgres:14.2
    container_name: "postgres"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=postgres